<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
      <!--<link rel="stylesheet" type="text/css" href="CSS/StyleSheetListSecret.css"> -->
      <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='CSS/StyleSheetListSecret.css')}}">
      <link rel="shortcut icon" type="imagex/png" href="{{url_for('static', filename='Images/LogoOficina.png')}}">
  </head>
  <body>            
    <div class= "background">
      <div class="cabecarioInicio">
       <img src="{{url_for('static', filename='Images/logocad.jpg')}}" style="width:auto; height: 80px;">   
      </div>
        <!--botões do cabeçario-->
      <div class="menususpenso"> 
          <button class="menubtn">MENU</button>
          <div class="menususpenso-child">
              <a href="Login">Logout</a>
              <a href="#contato">Contato</a>
          </div>

      </div>   
    <div style="margin-top:5%;">
      <!-- Pagina -->
      <section id="Servicos">
      <!-- Servicos -->
        <div>
            <p class="texto6"><strong># Dicas de segurança Cygus</strong><br></p>
            <p class="textoS">• Como boa prática recomendamos nunca ser compartilhado senhas pessoais.<br> 
              • Escolhas senhas complexas que contenham caracteres especiais, númericos e letras maiúsculas.<br>
              • Nada de preguiça na hora de criar suas senhas! Sempre escolha senhas diferentes para sites e Apps diferentes.<br>
              • Sempre troque periodicamente suas senhas, assim sempre as mantendo segura.<br>
              • De preferência nunca use a função de auto-preenchimento, mas se for usar, aposte sempre em gerenciadores especializados, não nativos de navegadores.<br>
              <strong>E lembre-se quando se diz respeito a sua privacidade e segurança, todo cuidado é bem-vindo :)</strong></p>
        </div>
      </section>

      <!-- Cadastrar novas senhas e segredos -->
      <section id="Cofre">
        <br><br>
        <p class="texto5" ><strong>Todos seus segredos salvos:</strong>  <br> </p>
          <div>
            <Form Form method="POST" >
              <ul>
                  {% for item in secrets %}

                  <li>ID : {{item.ID}}</li>
                  <li>Descricao : {{item.Descripiton}}</li>
                  <li>Info: {{item.Name}}</li>
                  <li>Segredos: {{item.Password}}</li>
                  <br>

                  {% endfor %}
              </ul>
            </Form>
          </div> 
      </section>

      <br>
    </div>
      <div class="retornar">
        <H3> <a href="Main">Voltar</a></H3>
      </div>

      <br>

<p class="texto5" ><strong>Contato</strong>  <br> </p>
<!-- Contato -->
<session id="contato">
  <section class="contact-section bg-black">
<div class="container px-4 px-lg-5">
<div class="row gx-4 gx-lg-5">
  <div class="col-md-4 mb-3 mb-md-0">
      <div class="card py-4 h-100">
          <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Endereço</h4>
              <hr class="my-4 mx-auto" />
              <div class="small text-black-50">4923 São Paulo, São Paulo SP</div>
          </div>
      </div>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
      <div class="card py-4 h-100">
          <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0" href="mailto:atendimentofourdata@gmail.com?subject=Hello%20again">atendimentofourdata@gmail.com</h4>
              <hr class="my-4 mx-auto" />
              <div class="small text-black-50">hello@future.com</div>
          </div>
      </div>
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
      <div class="card py-4 h-100">
          <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Telefone</h4>
              <hr class="my-4 mx-auto" />
              <div class="small text-black-50">+55 (11)9 995096433</div>
          </div>
      </div>
  </div>
</div>
</div>
</section>
</session>

  </div>

  </body>
</html>